
.form-containerr {
    width: 600px;
    height: 890px;
    margin-top: 10px;
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background:#151c2e;
    color:  #d0d6df;
  }
  .form-group {
    margin-bottom: 10px;
    padding-bottom: 1px;
  }
  
  .form-label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .form-input {
    width: 98%;
    padding-right: 0.1px;
    /* padding: 10px; */
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .form-button1 {
    padding-top: 20px;
    background-color: #4269e2;
    color: #fff;
    text-align: center;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
  }
  
  .form-button:hover {
    background-color: #0069d9;
  }
  
  .form-button:active {
    background-color: #005cbf;
  }
  